/* palette:
 * dark blue/purple #111c30
 * dark pink makeup #9a4d55
 * comf couch ceige #80756b

 Tiny Sweet Blue: #b5e9e9

Creamy Light Tan: #fef6dd

Pinkie Pie: #ffe1d0

Yellow Horse: #fff1b5

Green Thumb: #dcf3d0

 */
:root{
    --color-primary: #b5e9e9;
    --color-secondary: #fef6dd;
    --color-accent1: #ffe1d0;
    --color-accent2: #fff1b5;
    --color-accent3: #dcf3d0;
}

@font-face {
  font-family: simplifica;
  src: url(SIMPLIFICA.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: simplifica;
    font-size: 24px;
    margin: 0;
}

/* Style the header */
header {
    background-color: var(--color-primary);
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}
.content {
    background-color: var(--color-secondary);
}
.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
}

.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    padding: 10px;
    margin: 10px;

    border: 1px;
    text-align: center;
}
img {max-width:75%;}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: var(--color-accent1);
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: var(--color-secondary);
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: var(--color-primary);
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
