
<!DOCTYPE html>
<html lang="en">

<head>
<title>pi-plant</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style.css">
</head>


<body>

<header>
  <h2>pi-plant - test</h2>
</header>

<section>
    <div class="content">
        <div class="row">
            <div class="cell">
                idk maybe some charts or smthn
            </div>
            <div class="cell">
                <h2>plant feed</h2>
                <!-- replace with "{{ url_for('video_feed') }}" -->
                <img src="{{ url_for('video_feed') }}">
            </div>
        </div>
    </div>
</section>

<footer>
    <p>Don't kill my plant</p>
</footer>

</body>
</html>
