
<!DOCTYPE html>
<html lang="en">

<head>
<title>pi-plant</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.js') }}"></script>
</head>


<body>

<header>
    <div class="row">
        <div class="cell">
            <form action="" method="post">
                <button class="button" name="action" value="water">water now</button>
            </form>
        </div>
        <div class="cell">
            <h2>pi-plant - test</h2>
        </div>
        <div class="cell">
            <form action="" method="post">
                <button class="button" name="action" value="auto-toggle-{{ 'off' if auto_enabled else 'on'}}" onClick="window.location.reload();">turn {{ 'off' if auto_enabled else 'on' }} auto-watering</button>
            </form>
        </div>
    </div>
</header>

<section>
    <div class="content">
        <div class="cell">
            <h2>plant feed</h2>
            <!-- local testing - http://192.168.195.112:5000/video_feed -->
            <!-- replace with "{{ url_for('video_feed') }}" -->
            <img src="{{ url_for('video_feed') }}">
        </div>
        <div class="cell">
            <h2>idk maybe some charts or smthn</h2>
            <canvas id="soil-metrics"></canvas>
        </div>
    </div>
</section>

<footer>
    <p>Don't kill my plant</p>
</footer>

</body>
</html>

<script>
// load data from jinja
var metrics = {{ metrics|safe }};
var moisture_data = metrics['moisture'];
var waterings = metrics['waterings'];

console.log(moisture_data);
console.log(waterings);
// populate
var ctx = document.getElementById('soil-metrics').getContext('2d');
var moisture = new Chart(ctx, {
    type: 'line',
    data: {
        labels: function() {
            let l = [];
            for(let i = -2; i < moisture_data.length+5; i++) {
                l.push(i);
            }
            return l
        }(),
		datasets: [{
			label: 'Reginald',
			backgroundColor: "rgba(0, 140, 255, 255)",
			borderColor: "rgba(115, 192, 255, 255)",
			data: moisture_data,
			fill: false,
            spanGaps: false,
		}]
    },
    options: {
		responsive: true,
		title: {
			display: true,
			text: 'Soil Moisture'
		},
		hover: {
			mode: 'nearest',
			intersect: true
		},
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
               label: function(tooltipItem) {
                      return tooltipItem.yLabel;
               }
            }
        },
        scales: {
            yAxes: [{

            }],
            xAxes: [{

            }]
        }
	}
});
console.log(moisture);
</script>
